
  .userhidecontent{
    display: block;
  }
  .mobile-menu {
    display: none;
  }
 .course-item {
    border-radius: 5px;
    border: 1px solid #eef0ef;
}
.course-content {
  padding: 15px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
  a{
    color: rgb(255, 255, 255);
  }
  @media (max-width: 768px) {
    /*Mobile View */
    
    .mobile-menu {
      display: block;
    }
    .userhidecontent{
      display: none;
    }
  }